body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #000000;
  }
  
  h1 {
    text-align: center;
    margin: 20px 0;
    color: #ffffff;
  }
  
  #items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    margin: 20px auto;
    max-width: 90%;
    padding-bottom: 80px; /* Espaço extra para evitar sobreposição do rodapé */
  }
  
  .item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background: #612929;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: calc(100% / 2 - 20px); /* Responsivo */
  }
  
  .item label {
    font-weight: bold;
    margin-bottom: 5px;
    color: #ffffff;
  }
  
  .item input {
    width: 100%;
    padding: 2px;
    border: 1px solid #363535;
    border-radius: 5px;
    font-size: 1rem;
  }
  
  #total-container {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #612929;
    color: #ffffff;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.3);
  }
  
  /* Responsividade para telas menores */
  @media (max-width: 600px) {
    .item {
      width: calc(100% - 20px); /* Ocupa toda a largura em telas menores */
    }
  
    #total-container {
      font-size: 1.25rem;
    }
  }
  